@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-6">
        <a href="../Usuario/Login">        
        <div class="d-grid">
            <button type="button" class="btn btn-primary btn-block">Logar</button>
        </div>
        </a>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-success">Registrar</button>
    </div>
</div>